export(multeq.diff, multeq.rat)

importFrom("stats", "cov", "pt", "qt")

S3method(print, multeq.diff)
S3method(summary, multeq.diff)

S3method(print, multeq.rat)
S3method(summary, multeq.rat)
